go 1.23.4

use (
	./internal/utilities
	./solutions/year-2021/day-01
	./solutions/year-2021/day-02
	./solutions/year-2021/day-03
	./solutions/year-2022/day-01
	./solutions/year-2022/day-02
	./solutions/year-2022/day-03
	./solutions/year-2022/day-04
	./solutions/year-2022/day-05
	./solutions/year-2022/day-06
	./solutions/year-2023/day-01
	./solutions/year-2024/day-01
)
