package main

import (
	"adventofgolang/internal/utilities"
	"strconv"
)

func main() {
	filepath := utilities.GetInputFile()
	lines, _ := utilities.ReadLines(filepath)

	result := solution(lines)
	utilities.PrintSolution("{{YEAR}}", {{DAY}}, "{{NAME}}", strconv.Itoa(result))
}

func solution(lines []string) (result int) {
	return
}
